<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Home</h1>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script>
        const ws_scheme = window.location.protocol === 'https:' ? 'wss' : 'ws';
        const ws_url = ws_scheme + '://' + window.location.host + `/home/stream/`;

        this.chatSocket = new ReconnectingWebSocket(ws_url);

        const that = this;
        this.chatSocket.onmessage = function(message) {
          const data = JSON.parse(message.data);
          console.log(data, 'WS DATA RESPONSE')
        };
    </script>
</body>
</html>
